<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title></title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>

        <h2>@ViewBag.trail.name</h2>
        <h3>Description: @ViewBag.trail.description</h3>
        <h3>Trail Length: @ViewBag.trail.length</h3>
        <h3>Elevation Change: @ViewBag.trail.elevation</h3>
<br><br>
<a href="/"><button class="btn btn-info">Home</button></a>
    </body>
</html>